body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #052026;
  font-family: 'Droid Sans', sans-serif;
}

section{
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}

canvas {
  display: block;
  vertical-align: bottom;
}

main {
  flex: 1 0 auto;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: #052026;
}

#dheader, #dprojects, #dother, #dfooter {
  position: relative;
  vertical-align: middle;
  z-index: 2;
  bottom: 0;
}

#dheader {
  height: 90vh;
}

#dprojects2 {
  background-color: #17373E;
  overflow: auto;
}

#dother {
  margin-bottom: 40px;
}

.footer {
  background-color: #0b262d !important;
  bottom: 0;
  position: relative;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.ground {
  width: 100%;
  display: block;
}

.text-light {
  color: #E0E0E0 !important;
}

.text-med {
  color: #6C8A90 !important;
}

.header-name {
  margin-top: 0 !important;
  text-shadow: 1px 1px 4px #111111;
}

.header-title {
  text-shadow: 1px 1px 4px #111111;
}

.text-shadow {
  text-shadow: 1px 1px 4px #222222;
}

.divider {
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
  background-color: #969696;
}

.btn {
  background-color: #17373E !important;
  margin-bottom: 10px;
}

.btn.disabled {
  color: #3E6269 !important;
  background-color: #112A2F !important;
}

.btn:hover:not(.disabled) {
  background-color: #25444A !important;
}

.card-image {
  max-width: 100%;
  box-shadow: 1px 1px 4px #222222;
  border: 1px solid #969696;
}

.card-image:hover {
  box-shadow: 2px 2px 8px #111111;
}

@media (max-width: 992px) {
  .card-image {
    visibility: hidden;
    height: 1px;
  }
}

@media (min-width: 992px) {
  .card-image {
    margin-top: 75px;
  }
}
