# Begin password protection #
AuthName "Personal Area"
Require valid-user
AuthUserFile "/home/users/web/b500/dom.brandonkitlocom1/public_html/blog/.htpasswd"
AuthType basic
# End password protection #



AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
# Enable rewrite rules
RewriteEngine on
# Deny direct access to .txt files
RewriteRule ^bl-content/(.*)\.txt$ - [R=404,L]
# All URL process by index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php [PT,L]
</IfModule>